.App {
  background-size: cover;
  background-position: center;
  font-family: "Inconsolata", monospace;
  top: 0;
  left: 0;
  height: 100%;
}

footer {
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
}
